<Configuration monitorInterval="60">

    <Properties>
        <Property name="APP_NAME" >${bundle:application:APP_NAME}</Property>
        <Property name="APP_VERSION">${bundle:application:APP_VERSION}</Property>
        <Property name="CF_INSTANCE_INDEX">${env:INSTANCE_INDEX}</Property>
    </Properties>

    <!-- simple pattern -->
    <!-- [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n -->
    <Appenders>
        <Console name="Console-Appender" target="SYSTEM_OUT">
            <PatternLayout>
                <alwaysWriteExceptions>false</alwaysWriteExceptions>
                <pattern>
                    %date{yyyy-MM-dd'T'HH:mm:ss.SSSZ}{UTC} %5p %t %c{5.}:%L [log_framework=log4j2;app_name=${APP_NAME};app_version=${APP_VERSION};instance_id=${CF_INSTANCE_INDEX}] %m MULTIEXCEPTION %replace{%rException}{\n}{\u2028}%n
                </pattern>
            </PatternLayout>
        </Console>
    </Appenders>


    <Loggers>
        <Logger name="org.springframework.web" level="warn" additivity="false">
            <AppenderRef ref="Console-Appender" />
        </Logger>
        <Root>
            <AppenderRef ref="Console-Appender" />
        </Root>
    </Loggers>
</Configuration>